@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.oswald-<uniquifier> {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background: #111;
}